* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background-image: url(../img/banner_2.png);
}

h1{
    background-color: aliceblue;
    color: rgb(75, 72, 72);
    font-size: 50px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
}

.container1 {
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0px 15px 25px rgba(0.50,0.50,0.50,0.50);
    background-color: aliceblue;
    font-size: 15px;
}

.container2 {
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0px 15px 25px rgba(0.50,0.50,0.50,0.50);
    background-color: aliceblue;
    font-size: 15px;
}

.container3 {
    width: 80%;
    margin-bottom: 40px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0px 15px 25px rgba(0.50,0.50,0.50,0.50);
    background-color: aliceblue;
    font-size: 15px;
}


.container1 img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.container2 img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.container3 img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.container11{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container21{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container31{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container12{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container22{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container32{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width:600px) {
    .container1 img, .container2 img, .container3 img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;

    }
    h1{
        font-size: 27px;
    }
    
}
